<section class="footer bg-dark text-light pb-4 py-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-4 mb-lg-0">
        <img src="assets/Images/logo.png" alt="Logo" class="mb-3">
        <p class="w-75">KGR Institute of Technology and Management run by KGR Group of Industries, under the dynamic supervision of Sri Lion Dr. K. Govinda Reddy with a primary purpose of providing the quality education for all. </p>
      </div>
      
      <div class="col-lg-2 mb-4 mb-lg-0 mt-5">
        <h5 class="text-uppercase mb-3" class="sub-heading">Quick Links</h5>
        <p><a routerLink="/about-us" class="text-light">About Us</a></p>
        <p><a routerLink="/Academicprograms/MBA" class="text-light">Programs</a></p>
        <p><a routerLink="adminssion/mba" class="text-light">Admissions</a></p>
        <p><a routerLink="/contact" class="text-light">Contact Us</a></p>
      </div>
     
      <div class="col-lg-4 mb-4 mb-lg-0 mt-5">
        <h5 class="text-uppercase mb-3" class="sub-heading">Reach Us</h5>
        <div class="d-flex align-items-center ml-3">
          <img src="assets/Images/frt-icon-location.png" alt="">
          <p class="m-2">KGR Institute of Technology & Management.
              Sy.No. 419,Rampally (V), Keesara (M), <br/>Medchal-Malkajgiri (Dist),
              <br/> Telangana – 501 302.</p>
        </div>
        <div class="d-flex align-items-center mb-3">
         <img src="assets/Images/frt-icon-mail.png" alt="">
          <p class="m-2">principal&#64;kgrinstitute.com</p>
        </div>
        <div class="d-flex align-items-center mb-3">
          <img src="assets/Images/frt-icon-phone.png" alt="">
          <!-- <p class="m-2">+91 9441590236</p> -->
          <div class="m-2">
            <p>Chairman Mobile No. +91 9848022014,<br>
              Director Mobile No.: +91 9985043060, <br>
              Principal(MBA) Mobile No: +91 9441596236,<br>
              Principal(Pharmacy) Mobile No:+91 9849171547,<br>
              Admin Officer Mobile No. +91 9347470703<br/>
              Office No. +91 7995210703 (9-30AM to 5-00PM)
              </p>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <a href="https://www.google.com/maps" class="text-light" target="_blank">
            <img src="assets/Images/frt-icon-g-map.png" alt="">
            <span class="m-2" class="sub-heading">Google Maps</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="copyrightfooter p-3">
  <div>&copy; KGR Institite of Technology & Management-2024</div>
</div>

