<section class="aboutUs">
  <div class="bannerImg">
    <img
      src="assets/Images/about-banner1.jpg"
      alt=""
      class="mba_banner_image w-100"
    />
  </div>
  <div class="aboutSection position-relative py-5 mb-4">
    <div class="container">
      <div
        class="row align-items-center justify-content-center mb-lg-0 py-5 mb-4"
      >
        <div class="col-xl-5">
          <div
            class="leftContent"
            data-aos="fade-right"
            data-aos-duration="500"
          >
            <div class="d-flex">
              <div class="w-100">
                <iframe
                  src="https://www.youtube.com/embed/vzmURVFfwrk?si=xExUfpJ6X78lEJNk"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                  referrerpolicy="strict-origin-when-cross-origin"
                  width="100%"
                  height="100%"
                  allowfullscreen
                ></iframe>
              </div>
              <div class="widOfgrid">
                <span>Technology</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-5">
          <div
            class="rightContent ps-lg-5 mb-lg-0 mt-4"
            data-aos="fade-left"
            data-aos-duration="500"
          >
            <div class="mainTitle">
              <h3>Overview of <span>KGRITM</span></h3>
              <p>
                KGR Institute of Technology and Management run by KGR Group of
                Industries, under the dynamic supervision of Sri Lion Dr. K. Govinda
                Reddy with a primary purpose of providing the quality education
                for all. The fact that we believe in ‘fuelling the quest of
                knowledge’ KGRITM is not only emerging as a leader in the field
                of Management and pharmaceutical studies in Telangana but also
                is positioned as the best Professional Educational Institution.
                Since its inception, it is offering quality education with
                state-of-the-art facilities, and provides sufficient amenities
                to achieve excellence and offers exposure to the Professional
                education system.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="row align-items-center justify-content-center mb-lg-0 my-4 py-5"
      >
        <div
          class="col-xl-5 order-xl-1 order-2"
          data-aos="fade-right"
          data-aos-duration="500"
        >
          <div class="rightContent pe-lg-5 mb-lg-0 mt-4">
            <div class="mainTitle">
              <h4>
                KGR Institute of Technology and Management was sponsored by KESA
                Society.
              </h4>
              <p>
                The vision is driven by a spirit of social awareness, sincerity
                in offering the best education and striving for providing
                innovative solutions that serve the ever-changing community. To
                transform the enthusiastic, motivated and meritorious students
                into knowledgeable Managers who will meet the needs of society
                at local, national and global level is the mission of KGRITM.
              </p>
            </div>
          </div>
        </div>
        <div
          class="col-xl-5 order-xl-2 order-1"
          data-aos="fade-left"
          data-aos-duration="500"
        >
          <div class="leftContent">
            <div class="d-flex">
              <div class="gridItemImg">
                <img
                  src="assets/Images/clg-img.jpg"
                  alt="vision"
                  class="w-100"
                />
              </div>
              <div class="widOfgrid">
                <span>Environment</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
