.aboutSection {
  position: relative;
  &::before {
    content: "";
    background-color: #d396ff91;
    width: 40%;
    height: 400px;
    position: absolute;
    left: 0;
    z-index: -1;
    top: 0;
    @media (max-width: 768px) {
      display: none;
    }
  }
  &::after {
    content: "";
    background-color: rgb(228 162 255 / 21%);
    width: 40%;
    height: 400px;
    position: absolute;
    right: 0%;
    z-index: -1;
    bottom: -4rem;
    @media (max-width: 991px) {
      display: none;
    }
  }

  h3 {
    font-size: 25px;
    span {
      color: #6a0dad;
      font-weight: 600;
    }
  }
  h4 {
    font-size: 20px;
  }
}
