.facultyMBA {
  h3 {
    font-size: 19px;
    line-height: 30px;
  }
  .ImgGrid {
    padding: 10px;
    border: 1px solid #e0dddd;
    border-radius: 5px;
  }
  .departmentCard {
    line-height: 30px;
    height: 100%;
    img {
      height: 350px;
      object-fit: cover;
      object-position: top;
    }
    &:hover {
      transform: scale(0.9);
      transition: all 1s ease-in-out;
    }
  }
  .tableHeader {
    font-size: 25px;
    text-align: center;
    background: #8e44ad;
    color: #fff;
  }
  .table {
    tr {
      vertical-align: middle;
      text-align: center;
      line-height: 30px;
      font-size: 19px;
    }
  }
}
