<section class="facultyMBA">
  <div class="bannerImg">
    <img
      src="https://img.freepik.com/free-photo/female-speaker-giving-presentation-hall-university-workshop-audience-conference-hall_155003-27432.jpg?t=st=1721447538~exp=1721451138~hmac=886c511ca396f8097e6030f22882691f8d28d57b646a54c08981cc4dd8f04eb2&w=900"
      alt=""
      class="mba_banner_image w-100"
    />
  </div>
  <div class="container">
    <div class="row align-items-center my-5">
      <div class="col-md-12">
        <h1 class="pp-c my-2">Faculty Resources</h1>
      </div>
    </div>

    <div class="gridItem">
      <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
        <div class="col">
          <div class="card departmentCard">
            <img
              src="../../assets/Images/PVR2.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">
                <strong><small>Prof.</small> P. V. Ramana Rao</strong>
              </h5>
              <p class="card-text">
                Is a Director. He has an work and research experience of over 35
                years in professional teaching in the department Business
                Management.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card departmentCard">
            <img
              src="../../assets/Images/svl.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">
                <strong><small>Dr.</small> S. Vijaya Lakshmi</strong>
              </h5>
              <p class="card-text">
                Is a Professor & Principal of Business Management. She has an
                work and research experience of over 20 years in professional
                teaching in the department Business Management.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card departmentCard">
            <img
              src="../../assets/Images/JVR1.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">
                <strong><small>Dr.</small> J.V. Rangeswara Reddy</strong>
              </h5>
              <p class="card-text">
                Is a professor of Business Management.He has an work and
                research experience of over 30 years in professional teaching in
                the department Business Management.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card my-5">
        <div class="card-header tableHeader">
          Faculty for Business Management
        </div>
        <div class="card-body">
          <!-- <div class="table my-2 table-responsive">
            <table class="table table-bordered">
              <thead class="table-light">
                <tr class="table-active">
                  <th>Sl No:</th>
                  <th>Name</th>
                  <th>Designation</th>
                  <th>Qualification</th>
                  <th>Experience Teaching</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Dr. S. Vijaya Lakshmi</td>
                  <td>Professor &amp; Principal</td>
                  <td>MBA,PGDCA,SET,M.Com &amp; Ph.D</td>
                  <td>19 Years</td>
                </tr>

                <tr>
                  <td>2</td>
                  <td>Dr. J.V. Rangeswara Reddy</td>
                  <td>Professor</td>
                  <td>MBA,MA,LLB,NET,Ph.D</td>
                  <td>29 Years</td>
                </tr>

                <tr>
                  <td>3</td>
                  <td>Dr.K. Govinda Reddy</td>
                  <td>Associate Professor</td>
                  <td>B.Tech, PGDM, MBA, Ph.D</td>
                  <td>33 Years</td>
                </tr>

                <tr>
                  <td>4</td>
                  <td>Mr.K. Sudharsan</td>
                  <td>Associate Professor</td>
                  <td>MBA, M.Phil,</td>
                  <td>31 Years</td>
                </tr>

                <tr>
                  <td>5</td>
                  <td>Mr.N. Rajagopalan</td>
                  <td>Associate Professor</td>
                  <td>M.Com, LLM, M.Phil,</td>
                  <td>19 Years</td>
                </tr>

                <tr>
                  <td>6</td>
                  <td>Dr. K. Sunitha</td>
                  <td>Associate Professor</td>
                  <td>MBA, M.Sc ,Ph.D</td>
                  <td>15 Years</td>
                </tr>

                <tr>
                  <td>7</td>
                  <td>Dr.S.Venu</td>
                  <td>Associate Professor</td>
                  <td>MBA, Ph.D</td>
                  <td>11 Years</td>
                </tr>

                <tr>
                  <td>8</td>
                  <td>Dr. K.S.Rajashekar Reddy</td>
                  <td>Associate Professor</td>
                  <td>MBA, Ph.D</td>
                  <td>08 Years</td>
                </tr>

                <tr>
                  <td>9</td>
                  <td>Dr. M. Srinivas</td>
                  <td>Associate Professor</td>
                  <td>MBA, M.LISc, Ph.D</td>
                  <td>08 Years</td>
                </tr>

                <tr>
                  <td>10</td>
                  <td>Md. Ejaz Ahmed</td>
                  <td>Asst. Professor</td>
                  <td>MBA</td>
                  <td>10 Years</td>
                </tr>

                <tr>
                  <td>11</td>
                  <td>Mr.L.Devender</td>
                  <td>Asst. Professor</td>
                  <td>M.Com, MBA</td>
                  <td>07 Years</td>
                </tr>

                <tr>
                  <td>12</td>
                  <td>Ms.T. Swathi</td>
                  <td>Asst. Professor</td>
                  <td>MBA</td>
                  <td>08 Years</td>
                </tr>

                <tr>
                  <td>13</td>
                  <td>Ms. A. Rajeswari</td>
                  <td>Asst. Professor</td>
                  <td>MBA</td>
                  <td>07 Years</td>
                </tr>

                <tr>
                  <td>14</td>
                  <td>Ms. D. Shailaja</td>
                  <td>Asst. Professor</td>
                  <td>MBA</td>
                  <td>08 Years</td>
                </tr>

                <tr>
                  <td>15</td>
                  <td>Ms. M. Maheshwari</td>
                  <td>Asst. Professor</td>
                  <td>MBA</td>
                  <td>07 Years</td>
                </tr>

                <tr>
                  <td>16</td>
                  <td>Mr. A.V. Ravindra Reddy</td>
                  <td>Asst. Professor</td>
                  <td>MBA</td>
                  <td>06 Years</td>
                </tr>

                <tr>
                  <td>17</td>
                  <td>Mr. V. Bharath</td>
                  <td>Asst. Professor</td>
                  <td>MBA</td>
                  <td>08 Years</td>
                </tr>

                <tr>
                  <td>18</td>
                  <td>Mrs. C. Haseena Begum</td>
                  <td>Asst. Professor</td>
                  <td>MBA</td>
                  <td>05 Years</td>
                </tr>

                <tr>
                  <td>19</td>
                  <td>Mrs. K. Harshitha Reddy</td>
                  <td>Asst. Professor</td>
                  <td>B.Tech, MBA, (Ph.D)</td>
                  <td>02 Years</td>
                </tr>

                <tr>
                  <td>20</td>
                  <td>Mr. K. Nithin Reddy</td>
                  <td>Asst. Professor</td>
                  <td>BBA, MBA, (Ph.D)</td>
                  <td>02 Years</td>
                </tr>

                <tr>
                  <td>21</td>
                  <td>Mrs. V. Umamaheswari</td>
                  <td>Asst. Professor</td>
                  <td>BBM, MBA</td>
                  <td>02 Years</td>
                </tr>

                <tr>
                  <td>22</td>
                  <td>Mr. Kranthi Kumar M</td>
                  <td>Asst. Professor</td>
                  <td>B.Tech, MBA</td>
                  <td>02 Years</td>
                </tr>

                <tr>
                  <td>23</td>
                  <td>Mr. Madan Mohan C</td>
                  <td>Asst. Professor</td>
                  <td>B.Tech, MBA</td>
                  <td>02 Years</td>
                </tr>

                <tr>
                  <td>24</td>
                  <td>Miss. C. Parameshwari</td>
                  <td>Asst. Professor</td>
                  <td>MBA</td>
                  <td>02 Years</td>
                </tr>
                
                <tr>
                  <td>25</td>
                  <td>Mrs. P. Kalyani</td>
                  <td>Asst. Professor</td>
                  <td>B.Ed, MBA</td>
                  <td>02 Years</td>
                </tr>
              </tbody>
            </table>
          </div> -->
          <div class="table my-2 table-responsive">
            <table class="table table-bordered">
              <thead class="table-light">
                <tr class="table-active">
                  <th>Sl No:</th>
                  <th>Name</th>
                  <th>Designation</th>
                  <th>Qualification</th>
                  <th>Experience Teaching</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let faculty of alumnidataSource; let i = index">
                  <td>{{ i + 1 }}</td> <!-- Sl No -->
                  <td>{{ faculty.name }}</td> <!-- Name -->
                  <td>{{ faculty.designation }}</td> <!-- Designation -->
                  <td>{{ faculty.qualification }}</td> <!-- Qualification -->
                  <td>{{ faculty.experience_teaching }}</td> <!-- Experience Teaching -->
                </tr>
              </tbody>
            </table>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>
