<header class="header">
  <div class="topHeader">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="header-content">
            <div class="contact-info d-none d-md-flex">
              <span>
                <i class="fas fa-envelope ms-2"></i>
                <a href="mailto:principal&#64;kgrinstitute.com" class="me-4">
                  principal&#64;kgrinstitutes.com
                </a>
              </span>
              <span>
                <i class="fas fa-mobile-button ms-2"></i>
                <a href="callto:+91944159023"> +91 9347470703</a>
              </span>
            </div>
            <div class="social-media">
              <a href="#" class="socialmedia-icon"
                ><i class="fa-brands fa-facebook-f"></i
              ></a>
              <a href="#" class="socialmedia-icon"
                ><i class="fa-brands fa-twitter"></i
              ></a>
              <a href="#" class="socialmedia-icon"
                ><i class="fa-brands fa-instagram"></i
              ></a>
              <a href="#" class="socialmedia-icon"
                ><i class="fa-brands fa-youtube"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="logoHeaderImg d-flex gap-4 mb-4 pt-4 align-items-center">
      <a href="./" class="d-flex align-items-center">
        <div>
          <img
            src="assets/Images/index-2_03.png"
            alt="logo"
            class="img-fluid"
          />
        </div>
        <div class="d-none d-lg-block">
          <h1>KGR Institute of Technology & Management</h1>
          <h2>(Approved by AICTE and Affiliated to Osmania University)</h2>
        </div>
      </a>
      <div class="ms-auto d-block d-lg-none">
        <button
          type="button"
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#MenuBarToggle"
          aria-controls="MenuBarToggle"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <!-- <span class="navbar-toggler-icon"></span> -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="36"
            height="36"
            fill="currentColor"
            class="bi bi-list"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>

  
  <div id="nav">
    <nav class="navbar navbar-expand-lg pb-0">
      <div class="container-fluid p-0">
        <div class="collapse navbar-collapse" id="MenuBarToggle">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
              <a
                class="nav-link"
                href="#"
                data-bs-toggle="collapse"
                data-bs-target="#aboutDropDown"
                aria-controls="aboutDropDown"
                aria-expanded="false"
                aria-label="aboutDropDown"
                >About Us
                <span class="ps-2"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-chevron-down"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
                    />
                  </svg>
                </span>
              </a>
              <ul id="aboutDropDown">
                <li><a routerLink="/about-us">About KGRITM</a></li>
                <li><a routerLink="/vision-mission">Vision &amp; Mission</a></li>
                <li><a routerLink="/chairman-speaks">Chairman Speaks</a></li>
                <li><a routerLink="/director-speaks">Director Speaks</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#"
                data-bs-toggle="collapse"
                data-bs-target="#academicDropDown"
                aria-controls="academicDropDown"
                aria-expanded="false"
                aria-label="academicDropDown"
                >ACADEMIC PROGRAMS
                <span class="ps-2"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-chevron-down"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
                    />
                  </svg>
                </span>
              </a>
              <ul id="academicDropDown">
                <li><a routerLink="/Academicprograms/MBA">M.B.A.</a></li>
                <li><a routerLink="/Academicprograms/BPharmacy">B.Pharmacy</a></li>
                <li><a routerLink="/Academicprograms/MPharmacy">M.Pharmacy</a></li>
                <li><a routerLink="/Academicprograms/Syllabus">Syllabus</a></li>
                <li><a routerLink="/Academicprograms/Alumni">Alumni</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#"
                data-bs-toggle="collapse"
                data-bs-target="#facilitiesDropDown"
                aria-controls="facilitiesDropDown"
                aria-expanded="false"
                aria-label="facilitiesDropDown"
                >FACILITIES
                <span class="ps-2"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-chevron-down"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
                    />
                  </svg>
                </span>
              </a>
              <ul id="facilitiesDropDown">
                <li><a routerLink="/facilities/Infrastructure">Infrastructure</a></li>
                <li><a routerLink="/facilities/library">Central Library</a></li>
                <li><a routerLink="/facilities/computerLab">Computer Lab</a></li>
                <li><a routerLink="/facilities/extracurricular">Extracurricular</a></li>
                <li><a routerLink="/facilities/pharamacyLab">Pharmacy Lab</a></li>
                <li><a routerLink="/facilities/committees">committees</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a
                href="#"
                class="nav-link"
                data-bs-toggle="collapse"
                data-bs-target="#facilityDropDown"
                aria-controls="facilityDropDown"
                aria-expanded="false"
                aria-label="facilityDropDown"
                >FACULTY
                <span class="ps-2"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-chevron-down"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
                    />
                  </svg>
                </span>
              </a>
              <ul id="facilityDropDown">
                <li><a href="faculty/Mba">MBA</a></li>
                <li><a href="faculty/pharmacy">Pharmacy</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#"
                data-bs-toggle="collapse"
                data-bs-target="#admissionDropDown"
                aria-controls="admissionDropDown"
                aria-expanded="false"
                aria-label="admissionDropDown"
                >ADMISSIONS
                <span class="ps-2"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-chevron-down"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
                    />
                  </svg>
                </span>
              </a>
              <ul id="admissionDropDown">
                <li><a routerLink="/adminssion/mba">MBA</a></li>
                <li><a routerLink="/adminssion/bpharmacy">B.Pharmacy</a></li>
                <li><a routerLink="/adminssion/mpharmacy">M.Pharmacy</a></li>
                <li> <a routerLink="/adminssion/application"> Admission &amp; Application</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/gallery">GALLERY</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="#"
                data-bs-toggle="collapse"
                data-bs-target="#placementDropDown"
                aria-controls="placementDropDown"
                aria-expanded="false"
                aria-label="placementDropDown"
                >PLACEMENTS
                <span class="ps-2"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-chevron-down"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
                    />
                  </svg>
                </span>
              </a>
              <ul id="placementDropDown">
                <li><a routerLink="/placement-cell">Placement Cell</a></li>
                <li class="">
                  <a routerLink="/registration">Online Registration</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/eventsandactivites">EVENTS & ACTIVITIES</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
