a {
  text-decoration: none;
}
header {
  &.fixed {
    position: fixed;
    width: 100%;
    z-index: 9;
    background: #fff;
    @media (min-width: 991px) {
      .logoTitle,
      .topHeader {
        display: none;
      }
      .navbar {
        padding: 0;
      }
    }
    @media (max-width: 991px) {
      .topHeader {
        display: none;
      }
      .logoTitle {
        box-shadow: 14px 13px 11px 16px #1919192e;
        .logoHeaderImg {
          padding-top: 1rem !important;
          padding-bottom: 1rem !important;
        }
      }

      .navbar {
        padding: 0;
      }
    }
  }
  .topHeader {
    background: rgb(83 39 110) !important;
    .header-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1px;
      @media (max-width: 768px) {
        justify-content: center;
        padding: 10px;
      }
    }
    .contact-info {
      display: flex;
      font-size: 15px;
    }
    .contact-info span {
      display: flex;
      gap: 8px;
      color: #fff;
      align-items: center;
    }
    .contact-info span a {
      text-decoration: none;
      color: white;
    }
    .social-media {
      display: flex;
      gap: 8px;
      color: #fff;
      align-items: center;
    }

    .social-media a {
      color: rgb(83 39 110);
      background-color: white;
      padding: 6px;
      border-radius: 60%;
      font-size: 13px;
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      text-decoration: none;
      margin: 7px;
    }
  }
  .logoHeaderImg {
    h1 {
      font-size: 35px;
      color: #c00c6f;
    }
    h2 {
      font-size: 20px;
      color: #000;
    }
  }
  #MenuBarToggle {
    .navbar-nav {
      width: 100%;
      justify-content: space-evenly;
      background: rgb(83 39 110) !important;
      .nav-item {
        ul {
          display: none;

          @media (min-width: 991px) {
            position: absolute;
            z-index: 9;
            width: 250px;
            padding-left: 10px;
            list-style: none;
            background: #54276d;
            box-shadow: 4px 4px 6px 6px rgba(15, 15, 15, 0.2901960784);
          }
          a {
            color: #fff;
            text-decoration: none;
            padding: 10px;
            display: block;
            &:hover,
            .active {
              background: #fff;
              color: #54276d !important;
            }
          }
        }
        a.nav-link {
          font-size: 14px;
          text-transform: uppercase;
          color: #fff;
          padding: 14px 10px;
          @media (min-width: 991px) {
            display: flex;
            width: 100%;
            justify-content: center;
            cursor: pointer;
          }
          &:hover {
            background: #fff;
            color: #54276d;
          }
          @media (max-width: 991px) {
            span {
              position: absolute;
              right: 5%;
            }
          }
        }
      }
      .nav-item:hover {
        ul {
          list-style: none;
          &.show {
            display: block;
          }
          @media (min-width: 991px) {
            display: block;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .single-menu a.nav-link.active,
  .single-menu a.nav-link:hover {
    color: #54276d !important;
  }
  .single-menu a.nav-link {
    color: #fff !important;
  }
  .active {
    background: #fff;
    color: #54276d;
  }
  li.nav-item.active.custom-active li a.nav-link {
    color: #fff !important;
  }
  li.nav-item.active.custom-active a.nav-link,
  li.nav-item.active.custom-active a.nav-link:hover {
    color: #54276d !important;
  }
  li.nav-item.active.custom-active li a.nav-link.active {
    color: #54276d !important;
  }
}
