<header class="header" ng-app>
  <div class="topHeader">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="header-content">
            <div class="contact-info d-none d-md-flex">
              <span>
                <i class="fas fa-envelope ms-2"></i>
                <a href="mailto:principal&#64;kgrinstitute.com" class="me-4">
                  principal&#64;kgrinstitutes.com
                </a>
              </span>
              <span>
                <i class="fas fa-mobile-button ms-2"></i>
                <a href="callto:+91944159023"> +91 9347470703</a>
              </span>
            </div>
            <div class="social-media">
              <a href="#" class="socialmedia-icon"
                ><i class="fa-brands fa-facebook-f"></i
              ></a>
              <a href="#" class="socialmedia-icon"
                ><i class="fa-brands fa-twitter"></i
              ></a>
              <a href="#" class="socialmedia-icon"
                ><i class="fa-brands fa-instagram"></i
              ></a>
              <a href="https://youtu.be/vzmURVFfwrk" target="_blank" class="socialmedia-icon"
                ><i class="fa-brands fa-youtube"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-lg logoTitle px-5 px-lg-0">
    <div class="logoHeaderImg d-flex gap-4 py-4 align-items-center">
      <a href="./" class="d-flex align-items-center">
        <div>
          <img
            src="assets/Images/index-2_03.png"
            alt="logo"
            class="img-fluid"
          />
        </div>
        <div class="d-none d-lg-block">
          <h1 class="fw-bold">KGR Institute of Technology & Management</h1>
          <h2>(Approved by AICTE and Affiliated to Osmania University)</h2>
        </div>
      </a>
      <div class="ms-auto d-block d-lg-none">
        <button
          type="button"
          class="navbar-toggler"
          data-bs-toggle="collapse"
          data-bs-target="#MenuBarToggle"
          aria-controls="MenuBarToggle"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <!-- <span class="navbar-toggler-icon"></span> -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="36"
            height="36"
            fill="currentColor"
            class="bi bi-list"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div id="nav" ng-class="{active}" ng-click="$event.preventDefault()">
    <!-- <app-navigation></app-navigation> -->
    <nav class="navbar navbar-expand-lg pb-0">
      <div class="container-fluid p-0">
        <div class="collapse navbar-collapse" id="MenuBarToggle">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li
              class="nav-item"
              [ngClass]="{ 'custom-active': isParentActive(['/aboutus']) }"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: false }"
            >
              <a
                class="nav-link home"
                data-bs-toggle="collapse"
                data-bs-target="#aboutDropDown"
                aria-controls="aboutDropDown"
                aria-expanded="false"
                aria-label="aboutDropDown"
                >About Us
                <span class="ps-2"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-chevron-down"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
                    />
                  </svg>
                </span>
              </a>
              <ul id="aboutDropDown">
                <li>
                  <a
                    class="nav-link"
                    routerLinkActive="active"
                    [routerLink]="['/aboutus/about-us']"
                    >About KGRITM</a
                  >
                </li>
                <li>
                  <a
                    class="nav-link"
                    routerLinkActive="active"
                    [routerLink]="['/aboutus/vision-mission']"
                    >Vision &amp; Mission</a
                  >
                </li>
                <li>
                  <a
                    class="nav-link"
                    routerLinkActive="active"
                    [routerLink]="['/aboutus/secretary']"
                    >Secretary Speaks</a
                  >
                </li>
                <li>
                  <a
                    class="nav-link"
                    routerLinkActive="active"
                    [routerLink]="['/aboutus/director-speaks']"
                    >Director Speaks</a
                  >
                </li>
                <li>
                  <a
                    class="nav-link"
                    routerLinkActive="active"
                    [routerLink]="['/aboutus/principals-speaks']"
                    >Principals Speak</a
                  >
                </li>
              </ul>
            </li>
            <li
              class="nav-item"
              [ngClass]="{
                'custom-active': isParentActive(['/Academicprograms'])
              }"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: false }"
            >
              <a
                class="nav-link"
                data-bs-toggle="collapse"
                data-bs-target="#academicDropDown"
                aria-controls="academicDropDown"
                aria-expanded="false"
                aria-label="academicDropDown"
                >ACADEMIC PROGRAMS
                <span class="ps-2"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-chevron-down"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
                    />
                  </svg>
                </span>
              </a>
              <ul id="academicDropDown">
                <li>
                  <a
                    class="nav-link"
                    routerLinkActive="active"
                    [routerLink]="['/Academicprograms/MBA']"
                    >M.B.A.</a
                  >
                </li>
                <li>
                  <a
                    class="nav-link"
                    routerLinkActive="active"
                    [routerLink]="['/Academicprograms/BPharmacy']"
                    >B.Pharmacy</a
                  >
                </li>
                <li>
                  <a
                    class="nav-link"
                    routerLinkActive="active"
                    [routerLink]="['/Academicprograms/MPharmacy']"
                    >M.Pharmacy</a
                  >
                </li>
                <li>
                  <a
                    class="nav-link"
                    routerLinkActive="active"
                    [routerLink]="['/Academicprograms/Syllabus']"
                    >Syllabus</a
                  >
                </li>
                <li>
                  <a
                    class="nav-link"
                    routerLinkActive="active"
                    [routerLink]="['/Academicprograms/Alumni']"
                    >Alumni</a
                  >
                </li>
              </ul>
            </li>
            <li
              class="nav-item"
              [ngClass]="{ 'custom-active': isParentActive(['/facilities']) }"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: false }"
            >
              <a
                class="nav-link"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                data-bs-toggle="collapse"
                data-bs-target="#facilitiesDropDown"
                aria-controls="facilitiesDropDown"
                aria-expanded="false"
                aria-label="facilitiesDropDown"
                >FACILITIES
                <span class="ps-2"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-chevron-down"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
                    />
                  </svg>
                </span>
              </a>
              <ul id="facilitiesDropDown">
                <li>
                  <a
                    class="nav-link"
                    routerLinkActive="active"
                    routerLink="/facilities/Infrastructure"
                    >Infrastructure</a
                  >
                </li>
                <li>
                  <a
                    class="nav-link"
                    routerLinkActive="active"
                    routerLink="/facilities/library"
                    >Central Library</a
                  >
                </li>
                <li>
                  <a
                    class="nav-link"
                    routerLinkActive="active"
                    routerLink="/facilities/computerLab"
                    >Computer Lab</a
                  >
                </li>
                <!-- <li>
                  <a
                    class="nav-link"
                    routerLinkActive="active"
                    routerLink="/facilities/extracurricular"
                    >Extracurricular</a
                  >
                </li> -->
                <li>
                  <a
                    class="nav-link"
                    routerLinkActive="active"
                    routerLink="/facilities/pharamacyLab"
                    >Pharmacy Lab</a
                  >
                </li>
                <li>
                  <a
                    class="nav-link"
                    routerLinkActive="active"
                    routerLink="/facilities/committees"
                    >committees</a
                  >
                </li>
              </ul>
            </li>
            <li
              class="nav-item"
              [ngClass]="{ 'custom-active': isParentActive(['/faculty']) }"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: false }"
            >
              <a
                class="nav-link"
                data-bs-toggle="collapse"
                data-bs-target="#facilityDropDown"
                aria-controls="facilityDropDown"
                aria-expanded="false"
                aria-label="facilityDropDown"
                >FACULTY
                <span class="ps-2"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-chevron-down"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
                    />
                  </svg>
                </span>
              </a>
              <ul id="facilityDropDown">
                <li>
                  <a
                    class="nav-link"
                    routerLinkActive="active"
                    [routerLink]="['faculty/Mba']"
                    >MBA</a
                  >
                </li>
                <li>
                  <a
                    class="nav-link"
                    routerLinkActive="active"
                    [routerLink]="['faculty/pharmacy']"
                    >Pharmacy</a
                  >
                </li>
              </ul>
            </li>
            <li
              class="nav-item"
              [ngClass]="{ 'custom-active': isParentActive(['/admission']) }"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: false }"
            >
              <a
                class="nav-link"
                data-bs-toggle="collapse"
                data-bs-target="#admissionDropDown"
                aria-controls="admissionDropDown"
                aria-expanded="false"
                aria-label="admissionDropDown"
                >ADMISSIONS
                <span class="ps-2"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-chevron-down"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
                    />
                  </svg>
                </span>
              </a>
              <ul id="admissionDropDown">
                <li>
                  <a
                    class="nav-link"
                    routerLinkActive="active"
                    [routerLink]="['/admission/mba']"
                    >MBA</a
                  >
                </li>
                <li>
                  <a
                    class="nav-link"
                    routerLinkActive="active"
                    [routerLink]="['/admission/bpharmacy']"
                    >B.Pharmacy</a
                  >
                </li>
                <li>
                  <a
                    class="nav-link"
                    routerLinkActive="active"
                    [routerLink]="['admission/mpharmacy']"
                    >M.Pharmacy</a
                  >
                </li>
                <li>
                  <a
                    class="nav-link"
                    routerLinkActive="active"
                    routerLink="/admission/application"
                  >
                    Admission &amp; Application</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item single-menu">
              <a
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                class="nav-link"
                routerLink="/gallery"
                >GALLERY</a
              >
            </li>
            <li
              class="nav-item"
              [ngClass]="{ 'custom-active': isParentActive(['/placement']) }"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: false }"
            >
              <a
                class="nav-link"
                data-bs-toggle="collapse"
                data-bs-target="#placementDropDown"
                aria-controls="placementDropDown"
                aria-expanded="false"
                aria-label="placementDropDown"
                >PLACEMENTS
                <span class="ps-2"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-chevron-down"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
                    />
                  </svg>
                </span>
              </a>
              <ul id="placementDropDown">
                <li>
                  <a
                    routerLinkActive="active"
                    class="nav-link"
                    [routerLink]="['placement/placement-cell']"
                    >Placement Cell</a
                  >
                </li>
                <li>
                  <a
                    routerLinkActive="active"
                    class="nav-link"
                    [routerLink]="['placement/registration']"
                    >Online Registration</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item single-menu">
              <a
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                class="nav-link"
                routerLink="/event-gallery"
                >EVENTS & ACTIVITIES</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
