<section class="mba_program">
  <div class="bannerImg">
    <img
      src="../../assets/Images/mbaBanner.jpg"
      alt=""
      class="mba_banner_image w-100"
    />
  </div>
  <div class="mbaSection position-relative py-5">
    <div class="container-fluid pt-5">
      <!--first row-->
      <div
        class="row align-items-center justify-content-center mb-lg-0 pt-5 mb-4"
      >
        <div class="col-lg-5">
          <div class="leftContent">
            <!-- <div class="mainTitle">
                    <h2>Our Goals</h2>
                    </div> -->
            <div class="d-flex">
              <div class="gridItemImg">
                <img
                  src="../../assets/Images/mba-Img.jpg"
                  alt="vision"
                  class="w-100"
                />
              </div>
              <div class="widOfgrid">
                <span>Programme</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="rightContent px-lg-5 mb-lg-0 mt-4">
            <div class="mainTitle">
              <h4>MASTER OF BUSINESS ADMINISTRATION (MBA)</h4>
              <h3><span>MBA</span> Programme</h3>
              <p>
                The MBA programme offered by the Department of Business
                Management is a two-year full time Post Graduate programme that
                consists of four semesters covering 28 courses, with an average
                of 75 classes of 50 minutes each, assigned to each course.
              </p>
              <p>
                The programme aims at moulding students into effective managers
                by providing them with courses reinforced with multi-faceted
                inputs of management education using state-of-the-art methods of
                training and active industry interface.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--second row-->
      <div class="row align-items-center justify-content-end mb-lg-0 pt-5 mb-4">
        <div class="col-lg-6 order-lg-1 order-2">
          <div class="rightContent px-lg-5 mb-lg-0 mt-4">
            <div class="mainTitle">
              <h3 class="mb-3"><span>Selection</span> Procedure</h3>
              <p>
                Candidates aspiring to join the MBA programme are required to
                appear for a state-wide Common Entrance Test [ICET], which
                evaluates them on the basis of their analytical, quantitative
                and verbal skills. The admission is offered only to the top
                rankers amongst the 1, 00, 000 odd candidates. The programme has
                been attracting, young and bright students of the state from
                varied academic streams like Engineering,Commerce, Mathematical,
                Biological Sciences and Humanities.
              </p>
              <h3 class="my-3">Course Structure & <span>Evaluation</span></h3>
              <p>
                The curriculum has been structured after an exhaustive analysis
                by experts from various academic and industrial fields. Each
                student majors in any two of the four fundamental areas viz.,
                Finance, Human Resources Management, Marketing and Information
                Systems. Each specialised area has four elective papers.
              </p>
              <p>
                Examinations are conducted at the end of each semester to assess
                the students understanding in what has been taught and learnt
                during that particular semester period. A comprehensive
                viva-voce is conducted, at the end of each year.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-5 order-lg-2 order-1">
          <div class="leftContent">
            <div class="d-flex">
              <div class="gridItemImg">
                <img
                  src="../../assets/Images/evaluation.jpg"
                  alt="vision"
                  class="w-100"
                />
              </div>
              <div class="widOfgrid">
                <span>Evaluation</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--third row-->
      <div
        class="row align-items-center justify-content-center mb-lg-0 pt-5 mb-4"
      >
        <div class="col-lg-5">
          <div class="leftContent">
            <!-- <div class="mainTitle">
            <h2>Our Goals</h2>
          </div> -->
            <div class="d-flex">
              <div class="gridItemImg">
                <img
                  src="../../assets/Images/summerProject.png"
                  alt="vision"
                  class="w-100"
                />
              </div>
              <div class="widOfgrid">
                <span>Projects</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="rightContent px-lg-5 mb-lg-0 mt-4">
            <div class="mainTitle">
              <h3>Summer<span> Project</span></h3>
              <p>
                As an integral part of the curriculum, every student takes up
                work on a project in an organisation with a view to facilitate
                complimentary learning and greater understanding of real life
                organisational situations. The duration of the training ranges
                from 6-8 weeks. The project guides from among the faculty and
                provide necessary guidance to the students. The projects are
                evaluated at the end of the fourth semester by a panel of
                external, internal and corporate examiners on the basis of a
                report, a presentation and a viva-voce.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--fourth row-->
      <div class="row align-items-center justify-content-end mb-lg-0 pt-5 mb-4">
        <div class="col-lg-6 order-lg-1 order-2">
          <div class="rightContent px-lg-5 mb-lg-0 mt-4">
            <div class="mainTitle">
              <h3 class="mb-3">Meet the<span> Industry</span></h3>
              <p>
                To foster a closer relationship with the industry and to enable
                the students to keep abreast of the current practices of
                management, the department arranges a series of guest lectures
                and seminars every Saturday, given by Managers and Eminent
                Members of the Industry. The experience and knowledge that they
                share with the students provide a perfect supplement to the
                conventional academic education that the university provides.
              </p>
              <h3 class="my-3">Industrial <span>Tour</span></h3>
              <p>
                The Department organizes industrial tours which enable students
                to understand the realities of the shop floor. Besides visiting
                industrial establishments in the twin cities the students
                visited the Visakhapatnam Steel Plant.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-5 order-lg-2 order-1">
          <div class="leftContent">
            <div class="d-flex">
              <div class="gridItemImg">
                <img
                  src="../../assets/Images/industryTour.jpg"
                  alt="vision"
                  class="w-100"
                />
              </div>
              <div class="widOfgrid">
                <span>Industrial</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--fifth row-->
      <div
        class="row align-items-center justify-content-center mb-lg-0 pt-5 mb-4"
      >
        <div class="col-lg-5">
          <div class="leftContent">
            <!-- <div class="mainTitle">
                  <h2>Our Goals</h2>
                </div> -->
            <div class="d-flex">
              <div class="gridItemImg">
                <img
                  src="../../assets/Images/workshops.jpg"
                  alt="vision"
                  class="w-100"
                />
              </div>
              <div class="widOfgrid">
                <span>Activities</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="rightContent px-lg-5 mb-lg-0 mt-4">
            <div class="mainTitle">
              <h3 class="mb-3"><span>Workshops</span></h3>
              <p>
                Our programme aims at achieving holistic personality
                development. Keeping this in view, a day-long workshop on
                enhancing creativity and problem solving
              </p>
              <h3 class="mb-3">Co-Curricular <span> Activities</span></h3>
              <p>
                The students participate in a variety of co-curricular
                activities including paper presentations, group discussions,
                management games and business quizzes.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
