<section class="container-fluid p-0">
  <img src="assets/Images/alumni_banner.jpg" alt="" class="img-fluid w-100">

  <!-- Search Button -->
  <!-- <div class="container mt-3">
    <div class="row">
      <div class="col-12 text-center mb-4">
        <input type="text" class="form-control w-50 d-inline-block me-3" placeholder="Search Alumni">
        <button class="btn btn-primary d-inline-block">Search</button>
      </div>
    </div>
  </div>  -->
  <!-- Alumni Cards -->
  <div class="container mt-3">
    <div class="row">
      <div class="col-12 text-center mb-4">
        <input 
          type="text" 
          [(ngModel)]="searchQuery" 
          class="form-control w-50 d-inline-block me-3" 
          placeholder="Search Alumni by Name, Location, or Designation">
        <button class="btn btn-primary d-inline-block" (click)="onSearch()">Search</button>
      </div>
    </div>
  </div>
  
  <!-- Alumni Cards -->
  <div class="container mt-5">
    <div class="row">
      <!-- Loop through filteredAlumni to generate cards dynamically -->
      <div *ngFor="let alumni of getallAlumnidata" class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100 text-center custom-card shadow-sm border-0">
          <!-- Avatar Image -->
          <div class="mx-auto mt-4">
            <img [src]="alumni.alumni_image" alt="{{alumni.name}}" class="rounded-circle avatar-img" />
          </div>
            <div class="alumni-details">
              <h3>{{ alumni.name }}</h3>
            </div>
            <div class="alumni-location">
              <p>{{ alumni.designation }}</p>
            </div>
          </div>
        </div>
      </div> 
    </div>
</section>



<!-- <div *ngIf="alumnidataSource?.length > 0;" class="mx-auto mt-3">
            <div class="alumni-container">
              <div class="alumni-card" *ngFor="let alumni of alumnidataSource">
           
                <div class="alumni-image">
                  <img [src]="alumni.alumni_image" alt="{{alumni.name}}" class="rounded-circle avatar-img" alt="Avatar Image" />
                </div>

                
                <div class="alumni-details">
                  <h3>{{ alumni.name }}</h3>
                </div>

               
                <div class="alumni-location">
                  <p>{{ alumni.location }}</p>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div> -->