// .bpharmacy_banner_img{
//     height: 50vh;
//     width: 100%;
// }
.bpharmacySection {
  position: relative;
  &::before {
    content: "";
    background-color: #d396ff91;
    width: 40%;
    height: 400px;
    position: absolute;
    left: 0;
    z-index: -1;
    top: 0;
  }
  &::after {
    content: "";
    background-color: rgb(228 162 255 / 21%);
    width: 40%;
    height: 400px;
    position: absolute;
    right: 0%;
    z-index: -1;
    bottom: -4rem;
  }
  .widOfgrid {
    width: 120px;
    background: #6a0dad;
    position: relative;
    span {
      position: absolute;
      top: 43%;
      left: 0;
      font-size: clamp(18px, 1.4583vw, 28px);
      color: #fff;
      transform: rotate(90deg) translate(-50%, -50%);
      text-align: center;
      z-index: 9;
      right: 50%;
      text-transform: uppercase;
      @media (max-width: 768px) {
        top: 50%;
        left: 0;
        transform: unset;
        writing-mode: vertical-lr;
      }
      @media (max-width: 991px) {
        top: 35%;
        width: 33%;
        // left: 0;
        // transform: unset;
        // writing-mode: vertical-lr;
      }
      @media (min-width: 992px) and (max-width: 1200px) {
        top: 20%;
      }
    }
    @media (max-width: 768px) {
      width: 70px;
      span {
        display: none;
      }
    }
    @media (max-width: 991px) {
      width: 70px;
    }
    @media (min-width: 992px) and (max-width: 1200px) {
      width: 160px;
    }
  }
  h3 {
    font-size: 25px;
    margin-bottom: 10px;
    span {
      color: #6a0dad;
      font-weight: 600;
    }
  }
  h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .tableHeader {
    font-size: 25px;
    text-align: center;
    background: #8e44ad;
    color: #fff;
  }
  .table {
    tr {
      vertical-align: middle;
      line-height: 30px;
      font-size: 19px;
    }
  }
}
