<section class="contact">
  <div class="bannerImg">
    <img
      src="../../assets/Images/contact-us-Banner.jpg"
      alt=""
      class="mba_banner_image w-100"
    />
  </div>
  <div class="contactSec position-relative py-5">
    <div class="container-fluid pt-5">
      <div class="row">
        <div class="col-lg-6 mb-4 mb-lg-0">
          <div class="address h-100">
            <h3>College Address:</h3>
            <p>
              KGR Institute of Technology & Management. Sy.No. 419,Rampally
              (V),<br />
              Keesara (M), Medchal-Malkajgiri (Dist),Telangana – 501 301.
            </p>
            <br />
            <h3>Contact Numbers</h3>
            <p>
              Chairman Mobile No. +91 9848022014,<br />
              Principal(MBA) Mobile No: +91 9441596236,<br />
              Principal(Pharmacy) Mobile No:+91 9849171547,<br />
              Administrative Officer Mobile No. +91 9347470703<br />
              Land line: 040 – 20080123.<br />
              Tele Fax: 040 – 27126831.<br />
            </p>
            <br />
            <h3>Contact Email</h3>
            <p>
              E-Mail:
              <a href="mailto:principalkgritm&#64;gmail.com"
                >principalkgritm&#64;gmail.com</a
              >,<br />
              <a href="mailto:kesasociety&#64;yahoo.com"
                >kesasociety&#64;yahoo.com</a
              >,<br /><a href="mailto:chairman&#64;kgrinstitutes.com"
                >chairman&#64;kgrinstitutes.com</a
              >,<br /><a href="mailto:principal&#64;kgrinstitutes.com"
                >principal&#64;kgrinstitutes.com</a
              >
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="roateMap">
            <h3>
              Road Map of KGR Institute of Technology &amp; Management from ECIL
            </h3>
            <p>
              To download <strong>College Route Map,</strong
              ><a href="images1/kgr route map.jpg" target="_blank">
                click here
              </a>
            </p>
            <img
              src="../../assets/Images/roateMap.jpg"
              alt=""
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="contactSec position-relative">
    <div class="container-fluid">
      <div class="row">
        <div class="gMap">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2953.3503525870783!2d78.63276760430536!3d17.47600329279286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb9d98a02d1fff%3A0xafc3030e4e8723b3!2sKGR%20Institute%20of%20Technology%20and%20Management!5e1!3m2!1sen!2sin!4v1631077902606!5m2!1sen!2sin"
            width="100%"
            height="450px"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe
          ><small
            >View
            <a
              href="http://maps.google.co.in/maps/ms?msa=0&amp;msid=208258004598365555914.0004ac91f3c0e98e57f5e&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;ll=17.476002,78.634472&amp;spn=0.007164,0.00912&amp;z=16&amp;source=embed"
              style="color: #0000ff; text-align: left"
              >KGR Institute of Technology &amp; Management</a
            >
            in a larger map</small
          >
        </div>
      </div>
    </div>
  </div>
</section>
