.container{
  border: 2px solid var(--orang-c);
}
.student_container{
  background-color: var(--orang-c);
}
.form-heading{
  color: white;
  font-size: 20px;
  padding: 10px;
}
.white-gt {
  color: white; 
  font-weight: bold;
}
.contact-form {
  display: flex;
  flex-direction: column;
}
  
.contact-form h1 {
  padding: 5px;
}
.contact-form hr {
  border: 1px solid var(--orang-c);
}
.contact-form input {
  width: 80%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid  var(--orang-c);
  border-radius: 4px;
}
  
.contact-form button {
  display: block;
  width: 20%;
  margin: 20px auto;
  padding: 10px;
  background-color: var(--orang-c);
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 16px;
}