<section class="mt-5">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 col-md-12 student_container"
        data-aos="fade-right"
        data-aos-duration="500"
      >
        <h1 class="form-heading">Important Sites for Students</h1>
        <hr />
        <p class="form-paragraph">
          <span class="white-gt">&gt;</span> AICTE - Click here for information
          related to AICTE
        </p>
        <p class="form-paragraph">
          <span class="white-gt">&gt;</span> OSMANIA UNIVERSITY - Check out
          latest updates from the official Osmania University website
        </p>
        <p class="form-paragraph">
          <span class="white-gt">&gt;</span> ePASS - Electronic Payment &
          Application System of Scholarships Updates regarding Students
          Scholarships
        </p>
        <p class="form-paragraph">
          <span class="white-gt">&gt;</span> TSICET - Click here for information
          related to TSICET<br />
          <span class="white-gt">&gt;</span> TS-EAMCET(B) - Click here for
          information related to TS-EAMCET(B)
        </p>
        <p class="form-paragraph">
          <span class="white-gt">&gt;</span> TS-EAMCET - Click here for
          information related to TS-EAMCET<br />
          <span class="white-gt">&gt;</span> PGECET - Click here for information
          related to PGECET<br />
          <span class="white-gt">&gt;</span> PCI - Click here for information
          related to PCI
        </p>
      </div>
      <div class="col-lg-6 col-md-12">
        <!-- <form
          class="contact-form p-4"
          data-aos="fade-left"
          data-aos-duration="2000"
        >
          <h1 class="base-h6">Leave a Message</h1>
          <hr />
          <input
            type="text"
            id="name"
            name="name"
            required
            placeholder="Full name"
          />
          <input
            type="email"
            id="email"
            name="email"
            required
            placeholder="Email ID"
          />
          <input
            type="phone"
            id="phone"
            name="phone"
            required
            placeholder="Phone"
          />
          <button type="submit" class="w-25">Send</button> 
          </form> -->
          <form (ngSubmit)="onSubmit()" #contactForm="ngForm" class="contact-form p-4">
            <h1 class="base-h6">Leave a Message</h1>
            <hr>
            <input type="text" [(ngModel)]="name" id="name" name="name" placeholder="Full name" required>
            <input type="email" [(ngModel)]="email" id="email" name="email" placeholder="Email ID" required>
            <input type="tel" [(ngModel)]="phone" id="phone" name="phone" placeholder="Phone" required>
            <button type="submit" (click)="testClick()">Send</button>
        </form>
      </div>
    </div>
  </div>
</section>