.vision_and_mission {
  // background-image: url("../../assets/Images/vision_and_mission_bg_img.webp");
  background-size: cover;
  background-position: center;
  height: 300px;
}
.vision_and_mission h1 {
  color: white;
}
.vision-box {
  border-top-right-radius: 180px;
  border-end-end-radius: 180px;
  background-color: hsl(220deg 16.98% 20.78%);
  height: 30vh;
}
.vision-box h1 {
  color: white;
}
.vision-box p {
  color: white;
}
.Mission-box {
  border-top-left-radius: 180px;
  border-end-start-radius: 180px;
  background-color: hsl(220deg 16.98% 20.78%);
}
.Mission-box h1 {
  color: white;
}
.Mission-box p {
  color: white;
}
.students_img {
  border-top-left-radius: 180px;
  border-top-right-radius: 180px;
  border-end-start-radius: 180px;
  border-end-end-radius: 180px;
  height: 70vh;
  width: 25vw;
}

.vissionSection {
  position: relative;
  &::before {
    content: "";
    background-color: #d396ff91;
    width: 40%;
    height: 400px;
    position: absolute;
    left: 0;
    z-index: -1;
    top: 0;
    @media (max-width: 768px) {
      display: none;
    }
  }
  &::after {
    content: "";
    background-color: rgb(228 162 255 / 21%);
    width: 40%;
    height: 400px;
    position: absolute;
    right: 7%;
    z-index: -1;
    bottom: -4rem;
    @media (max-width: 768px) {
      display: none;
    }
  }
  .widOfgrid {
    width: 25%;
    background: #6a0dad;
    position: relative;
    span {
      position: absolute;
      top: 43%;
      left: 0;
      font-size: clamp(18px, 1.4583vw, 28px);
      color: #fff;
      transform: rotate(90deg) translate(-50%, -50%);
      text-align: center;
      z-index: 9;
      right: 50%;
      text-transform: uppercase;
      @media (max-width: 768px) {
        top: 50%;
        left: 0;
        transform: unset;
        writing-mode: vertical-lr;
      }
      @media (max-width: 991px) {
        top: 35%;
        width: 33%;
        // left: 0;
        // transform: unset;
        // writing-mode: vertical-lr;
      }
    }
    @media (max-width: 768px) {
      width: 15%;
      span {
        display: none;
      }
    }
    @media (max-width: 991px) {
      width: 33%;
    }
  }
  h3 {
    font-size: 25px;
    span {
      color: #6a0dad;
      font-weight: 600;
    }
  }
  h4 {
    font-size: 20px;
  }
}
