// .vision_and_mission {
//   background-image: url("/assets/Images/vision_and_mission_bg_img.webp");
//   background-size: cover;
//   background-position: center;
//   height: 300px;
// }
.vision_and_mission h1 {
  color: white;
}
.vision-box {
  border-top-right-radius: 180px;
  border-end-end-radius: 180px;
  background-color: hsl(220deg 16.98% 20.78%);
  height: 30vh;
}
.vision-box h1 {
  color: white;
}
.vision-box p {
  color: white;
}
.Mission-box {
  border-top-left-radius: 180px;
  border-end-start-radius: 180px;
  background-color: hsl(220deg 16.98% 20.78%);
}
.Mission-box h1 {
  color: white;
}
.Mission-box p {
  color: white;
}
.students_img {
  border-top-left-radius: 180px;
  border-top-right-radius: 180px;
  border-end-start-radius: 180px;
  border-end-end-radius: 180px;
  height: 70vh;
  width: 25vw;
}

.vissionSection {
  position: relative;
  &::before {
    content: "";
    background-color: #d396ff91;
    width: 40%;
    height: 400px;
    position: absolute;
    left: 0;
    z-index: -1;
    top: 0;
    @media (max-width: 768px) {
      display: none;
    }
  }
  &::after {
    content: "";
    background-color: rgb(228 162 255 / 21%);
    width: 40%;
    height: 400px;
    position: absolute;
    right: 0%;
    z-index: -1;
    bottom: -4rem;
    @media (max-width: 768px) {
      display: none;
    }
  }
  h3 {
    font-size: 25px;
    span {
      color: #6a0dad;
      font-weight: 600;
    }
  }
  h4 {
    font-size: 20px;
  }
}
