<section class="MissionVision">
  <div class="bannerImg">
    <img
      src="../../assets/Images/missionBanner.jpg"
      alt=""
      class="mba_banner_image w-100"
    />
  </div>
  <div class="vissionSection position-relative py-5">
    <div class="container-fluid">
      <div
        class="row align-items-center justify-content-center mb-lg-0 py-5 mb-4"
      >
        <div class="col-lg-5 col-md-6">
          <div class="leftContent">
            <div class="mainTitle">
              <h2>Our Goals</h2>
            </div>
            <div class="d-flex">
              <div>
                <img
                  src="https://img.freepik.com/free-photo/business-concept-with-team-close-up_23-2149151159.jpg?t=st=1721483006~exp=1721486606~hmac=f9e3c88c200bf92eb01efb20af82b524c0a25b89ad6ed5de4ec53e1e44eab824&w=900"
                  alt="vision"
                  class="w-100"
                />
              </div>
              <div class="widOfgrid">
                <span>Vission</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-6">
          <div class="rightContent px-lg-5 mb-lg-0 mt-4">
            <div class="mainTitle">
              <h3>Vision of <span>KGRITM</span></h3>
              <p class="base-p">
                Our Vision at KGRITM is to provide top-notch professional
                education with strong industry connections, fostering leadership
                qualities, personal growth, and social responsibility.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center justify-content-end mb-lg-0 pt-5 mb-4">
        <div class="col-lg-5 col-md-6 order-md-1 order-2">
          <div class="rightContent px-lg-5 mb-lg-0 mt-4">
            <div class="mainTitle">
              <h3>Mission of <span>KGRITM</span></h3>

              <p class="base-p">
                Mission of KGRITM is to create the thought process that deepen
                and advance our understanding of management and nurture
                committed and thoughtful leaders who change the corporate world.
                To achieve the objective we create an environment to excel in
                all activities.
              </p>
              <p class="base-p">
                Provide all facilities for the multifaceted personality
                development of the student. Facilitating the student to develop
                courage, confidence and cutting edge competency required in the
                changing global scenario, we nurture the student as a good
                citizen with character, ethics, ethos and community orientation.
                We impart knowledge creating intellectual base and provide the
                platform to the students to develop the desired skills to lead
                an enlightened life with foresight and insight.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-6 order-md-2 order-1">
          <div class="leftContent">
            <div class="d-flex">
              <div>
                <img
                  src="https://img.freepik.com/free-photo/business-concept-with-team-close-up_23-2149151159.jpg?t=st=1721483006~exp=1721486606~hmac=f9e3c88c200bf92eb01efb20af82b524c0a25b89ad6ed5de4ec53e1e44eab824&w=900"
                  alt="vision"
                  class="w-100"
                />
              </div>
              <div class="widOfgrid">
                <span>Mission</span>
              </div>
            </div>
            <div class="mainTitle pt-2">
              <h2>Our Goals</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
