<section class="adminsionappli">
  <div class="bannerImg">
    <img
      src="../../assets/Images/mbaStudents.jpg"
      alt=""
      class="mba_banner_image w-100"
    />
  </div>
  <div class="container">
    <div class="row">
      <div class="gridItem">
        <div class="card my-5">
          <div class="card-header tableHeader">DOWNLOAD SECTION</div>
          <div class="card-body">
            <div class="table my-2 table-responsive">
              <table class="table table-bordered">
                <thead class="table-light">
                  <tr class="table-active">
                    <th>Course</th>
                    <th>Total Sanctioned</th>
                    <th>Admission under Converner Quota</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>COLLEGE BROUCHER</td>
                    <td>
                      <a href="images1/KGRITM Brochure.pdf" target="_blank"></a>

                      <a href="images1/KGRITM Brochure.pdf" target="_blank"
                        >click here</a
                      >
                    </td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>COLLEGE APPLICATION FORM(MBA)</td>
                    <td>
                      <a
                        href="images1/College Admission Application form_MBA.pdf"
                        target="_blank"
                      ></a>

                      <a
                        href="images1/College Admission Application form_MBA.pdf"
                        target="_blank"
                        >click here
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>COLLEGE APPLICATION FORM(B.Pharmacy)</td>
                    <td>
                      <a
                        href="images1/College Admission Application form_BPharmacy.pdf"
                        target="_blank"
                      ></a>

                      <a
                        href="images1/College Admission Application form_BPharmacy.pdf"
                        target="_blank"
                        >click here
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td>COLLEGE APPLICATION FORM(M.Pharmacy)</td>
                    <td>
                      <a
                        href="images1/College Admission Application form_MPharmacy.pdf"
                        target="_blank"
                      ></a>

                      <a
                        href="images1/College Admission Application form_MPharmacy.pdf"
                        target="_blank"
                        >click here
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>
                      MBA I YEAR I &amp; II Semester SYLLABUS 2022-2023 BATCH
                    </td>
                    <td>
                      <a
                        href="images1/MBAday Syllabus2022-23.pdf"
                        target="_blank"
                      ></a>

                      <a
                        href="images1/MBAday Syllabus2022-23.pdf"
                        target="_blank"
                        >click here
                      </a>
                    </td>
                  </tr>

                  <tr>
                    <td>6</td>
                    <td>MBA II YEAR III Semester SYLLABUS 2022-2023 BATCH</td>
                    <td>
                      <a
                        href="images1/MBA Day III Sem FROM 2022 BATCH SYLLSBUS.pdf"
                        target="_blank"
                      ></a>

                      <a
                        href="images1/MBA Day III Sem FROM 2022 BATCH SYLLSBUS.pdf"
                        target="_blank"
                        >click here
                      </a>
                    </td>
                  </tr>

                  <tr>
                    <td>6</td>
                    <td>MBA SYLLABUS W.E.F. 2021-2022</td>
                    <td>
                      <a
                        href="images1/MBAday Syllabus_2021.pdf"
                        target="_blank"
                      ></a>

                      <a href="images1/MBAday Syllabus_2021.pdf" target="_blank"
                        >click here
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>7</td>
                    <td>MBA I YEAR SYLLABUS 2016-2017 to 2020-2021 batches</td>
                    <td>
                      <a
                        href="images1/MBA I YEAR SYLLABUS.pdf"
                        target="_blank"
                      ></a>

                      <a href="images1/MBA I YEAR SYLLABUS.pdf" target="_blank"
                        >click here
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>8</td>
                    <td>MBA II YEAR SYLLABUS 2016-2017 to 2020-2021 batches</td>
                    <td>
                      <a
                        href="images1/MBA II Year SYLLABUS.pdf"
                        target="_blank"
                      ></a>

                      <a href="images1/MBA II Year SYLLABUS.pdf" target="_blank"
                        >click here
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>9</td>
                    <td>MBA PROJECT GUIDELINES</td>
                    <td>
                      <a href="images1/projectbook.pdf" target="_blank"></a>

                      <a href="images1/projectbook.pdf" target="_blank"
                        >click here
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td>B.Pharmacy (PCI) Syllabus</td>
                    <td>
                      <a
                        href="images1/Syllabus_B_Pharm_PCI.pdf"
                        target="_blank"
                      ></a>

                      <a href="images1/Syllabus_B_Pharm_PCI.pdf" target="_blank"
                        >click here</a
                      >
                    </td>
                  </tr>
                  <tr>
                    <td>11</td>
                    <td>M.Pharmacy (PCI) Syllabus I &amp; II Year</td>
                    <td>
                      <a
                        href="images1/Syllabus_M_Pharm PCI Regulations 2017.pdf"
                        target="_blank"
                      ></a>

                      <a
                        href="images1/Syllabus_M_Pharm PCI Regulations 2017.pdf"
                        target="_blank"
                        >click here</a
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
