<section class="adminsionMpharmacy">
  <div class="bannerImg">
    <img
      src="assets/Images/mbaStudents.jpg"
      alt=""
      class="mba_banner_image w-100"
    />
  </div>
  <div class="container">
    <div class="row">
      <div class="gridItem">
        <h2
          class="pp-c mb-2 ps-3 mt-4"
          data-aos="fade-up"
          data-aos-duration="500"
        >
          ADMISSIONS
        </h2>
        <div class="card my-5" data-aos="fade-up" data-aos-duration="500">
          <div class="card-header tableHeader">
            MASTER OF PHARMACY (M.Pharmacy)
          </div>
          <div class="card-body">
            <div class="table my-2 table-responsive">
              <table class="table table-bordered">
                <thead class="table-light">
                  <tr class="table-active">
                    <th>Course</th>
                    <th>Total Sanctioned</th>
                    <th>Admission under Converner Quota</th>
                    <th>Admission under Management Quota</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Pharmaceutics</td>
                    <td>15 seats</td>
                    <td>11 seats</td>
                    <td>4 seats</td>
                  </tr>
                  <tr>
                    <td>Pharmaceutical Analysis</td>
                    <td>15 seats</td>
                    <td>11 seats</td>
                    <td>4 seats</td>
                  </tr>
                  <tr>
                    <td>Pharmacology</td>
                    <td>15 seats</td>
                    <td>11 seats</td>
                    <td>4 seats</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div>
            <h2 class="pp-c my-2 ps-3">ADMISSIONS PROCESS:</h2>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                The Convener PGECET directly makes convener quota admissions.
              </li>
              <li class="list-group-item">
                Convener quota is 70% of the total intake. Students who passed
                B.Pharmacy degree from any university recognized by UGC are
                eligible to apply for PGECET.
              </li>
              <li class="list-group-item">
                Further details of the admission test can be obtained on
                <a
                  href="http://pgecetadm.tsche.ac.in/"
                  target="_blank"
                  title="PGECET"
                  ><strong>PGECET</strong></a
                >
                and
                <a href="https://www.tsche.ac.in/" target="_blank" title="TSCHE"
                  ><strong>TSCHE</strong></a
                >
              </li>

              <li class="list-group-item">
                The Institution makes management quota admission directly. On
                merit basis application from and prospectus and be had from the
                college office on all working days.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>