.mPharma_section {
  position: relative;
  &::before {
    content: "";
    background-color: #d396ff91;
    width: 40%;
    height: 400px;
    position: absolute;
    left: 0;
    z-index: -1;
    top: 0;
  }
  &::after {
    content: "";
    background-color: rgb(228 162 255 / 21%);
    width: 40%;
    height: 400px;
    position: absolute;
    right: 0%;
    z-index: -1;
    bottom: -4rem;
  }
  h3 {
    font-size: 25px;
    margin-bottom: 10px;
    span {
      color: #6a0dad;
      font-weight: 600;
    }
  }
  h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .ImgGrid {
    padding: 10px;
    border: 1px solid #e0dddd;
    border-radius: 5px;
  }
  .table {
    tr {
      vertical-align: middle;
      text-align: center;
    }
  }
}
