<section class="bpharmacy">
  <div class="bannerImg">
    <img
      src="assets/Images/mpharmacy.jpg"
      alt=""
      class="mba_banner_image w-100"
    />
  </div>
  <div class="mPharma_section position-relative py-5">
    <div class="container-fluid">
      <div class="row align-items-center justify-content-center mb-lg-0 py-5 mb-4">
        <div class="col-lg-5">
          <div
            class="leftContent"
            data-aos="fade-right"
            data-aos-duration="500"
          >
            <div class="d-flex">
              <div class="w-100 gridItemImg">
                <img
                  src="assets/Images/mba-Mpharmacy.jpg"
                  alt="vision"
                  class="w-100"
                />
              </div>
              <div class="widOfgrid">
                <span>M.Pharmacy</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div
            class="rightContent px-lg-5 mb-lg-0 mt-4"
            data-aos="fade-left"
            data-aos-duration="500"
          >
            <div class="mainTitle">
              <h3>MASTER OF PHARMACY (M.Pharmacy)</h3>
              <h4 class="ps-lg-2 my-3">
                <span class="me-2">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-arrow-bar-right"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8m-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5"
                    />
                  </svg>
                </span>
                M.Pharmacy in Pharmaceutical Analysis (15 seats)
              </h4>
              <h4 class="ps-lg-2 my-3">
                <span class="me-2">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-arrow-bar-right"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8m-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5"
                    />
                  </svg>
                </span>
                M.Pharmacy in Pharmaceutics (15 seats)
              </h4>
              <h4 class="ps-lg-2 my-3">
                <span class="me-2">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-arrow-bar-right"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8m-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5"
                    />
                  </svg>
                </span>
                M.Pharmacy in Pharmacology (15 seats)
              </h4>
            </div>
            <h4><b>DURATION: 4 Years</b></h4>
            <h3>ELIGIBILITY</h3>
          </div>
        </div>
      </div>
      <div class="row align-items-center justify-content-center mb-lg-0 py-5 mb-4">
        <div class="col-lg-10 m-auto">
          <div class="card my-5" data-aos="fade-up" data-aos-duration="500">
            <div class="card-body">
              <div class="table my-2 table-responsive">
                <table class="table table-bordered">
                  <thead class="table-light">
                    <tr class="table-active">
                      <th>Name of the Course with Duration</th>
                      <th>AICTE approved intake</th>
                      <th>Eligibility Criteria For Convener Quota</th>
                      <th>Fee particulars for 70% of Convener Quota</th>
                      <th>Eligibility Criteria For 20% of Management Quota</th>
                      <th>Fee particularsFor Management Quota</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        M.Pharmacy: Pharmaceutics, Pharmaceutical Analysis &
                        Pharmacology (2 Years)
                      </td>
                      <td>15 Seats Each Specialization</td>
                      <td>50% in B.Pharm with GATE/ PGECET Rank</td>
                      <td>Rs.60,000 per semester</td>
                      <td>50% in B.Pharm</td>
                      <td>Rs.60,000 per semester</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row align-items-center justify-content-center mb-lg-0 py-5 mb-4">
        <div class="col-lg-10">
            <p>Please visit <a href="https://www.osmania.ac.in/" target="_blank">Osmania University</a> or <a href="https://www.tsche.ac.in/" target="_blank">TSCHE</a> for details.</p>
        </div>
      </div>
      
      <div
        class="row align-items-center justify-content-center mb-lg-0 py-5 my-4"
      >
        <div class="col-lg-8" data-aos="fade-left" data-aos-duration="500">
          <div class="col-lg-12 ms-lg-auto">
            <div class="contact_section">
              <h4 data-aos="fade-up" data-aos-duration="500"><strong> For Tuition Fee or Management Fee, Seats Vacancy and other details, please contact:<br>
                Department of Pharmacy:
                </strong>
                </h4>
              <p data-aos="fade-up" data-aos-duration=" 500">
                KGR Institute of Technology & Management<br/>
                Sy.No. 419, Rampally (V), Keesara (M), <br/>
                Medchal–Malkajgiri (District), Telangana – 501 302. <br/>
                Dean Mobile No. +91 9849171547 <br/>
                Administrator Mobile No: +91 9347470703 <br/>
                E-Mail: principalkgritm&#64;gmail.com<br/>
                Website: http://kgrinstitutes.com 
              </p>
              <p data-aos="fade-up" data-aos-duration=" 500">Regards,</p>
              <p data-aos="fade-up" data-aos-duration=" 500">
                <b>College Admin</b>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    
  </div>
</section>
