<section class="adminsionMba">
  <div class="bannerImg">
    <img
      src="assets/Images/mbaStudents.jpg"
      alt=""
      class="mba_banner_image w-100"
    />
  </div>
  <div class="container">
    <div class="row">
      <div class="gridItem">
        <div class="card my-5" data-aos="fade-up" data-aos-duration="500">
          <div class="card-header tableHeader">
            MASTER OF BUSINESS ADMINISTRATION (MBA)
          </div>
          <div class="card-body">
            <div class="table my-2 table-responsive">
              <table class="table table-bordered">
                <thead class="table-light">
                  <tr class="table-active">
                    <th>Course</th>
                    <th>Total Sanctioned</th>
                    <th>Admission under Converner Quota</th>
                    <th>Admission under Management Quota</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>MBA</td>
                    <td>240 seats</td>
                    <td>168 Seats<br />TGICET CODE: <strong>KGRM</strong></td>
                    <td>72 Seats</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div>
            <h2 class="pp-c my-2 ps-3">ADMISSIONS PROCESS:</h2>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                The Convener ICET directly makes convener quota admissions. ICET
                CODE: KGRM
              </li>
              <li class="list-group-item">
                Convener quota is 70% of the total intake. Students who pass any
                degree from any university recognized by UGC are eligible to
                apply for ICET Admission Test.
              </li>
              <li class="list-group-item">
                Further details of the admission test can be obtained on
                <a
                  href="https://icet.tsche.ac.in"
                  target="_blank"
                  title="TSICET"
                  ><strong>TSICET</strong></a
                >
                and
                <a
                  href="https://www.tsche.ac.in"
                  target="_blank"
                  title="ICET-2013 Counseling"
                  ><strong>TSCHE</strong></a
                >
              </li>
              <li class="list-group-item">
                The Institution makes management quota admission directly. On
                merit basis application from and prospectus and be had from the
                college office on all working days.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
