.adminsionMba {
  .tableHeader {
    font-size: 25px;
    text-align: center;
    background: #8e44ad;
    color: #fff;
  }
  .table {
    tr {
      vertical-align: middle;
      text-align: center;
      line-height: 30px;
      font-size: 19px;
    }
  }
  ul {
    li {
      font-size: 19px;
      line-height: 30px;
    }
  }
}
