<section class="aboutUs">
    <div class="bannerImg">
        <img src="assets/Images/bpharmacyBanner.jpg" alt="Pharmacy Banner" class="mba_banner_image w-100">
    </div>
    <div class="container">
        <div class="row">
            <h3 class="pp-c mt-3">Biochemistry Lab</h3>
            <div class="col-md-6">
                <img src="assets/Images/Biochemistrylab/Biochemistrylab1.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-6">
                <img src="assets/Images/Biochemistrylab/Biochemistrylab2.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>