<section class="CentralLibrary">
  <div class="bannerImg">
    <img
      src="assets/Images/centralLibrary-banner.jpg"
      alt=""
      class="mba_banner_image w-100"
    />
  </div>
  <div class="librarysec position-relative py-5">
    <div class="container">
      <div
        class="row align-items-center justify-content-center mb-lg-0 py-5 mb-4"
      >
        <div class="col-xl-5 col-lg-6">
          <div
            class="leftContent"
            data-aos="fade-right"
            data-aos-duration="500"
          >
            <div class="d-flex">
              <div class="w-100 gridItemImg">
                <img
                  src="assets/Images/centralLibrary.jpg"
                  alt="vision"
                  class="w-100"
                />
              </div>
              <div class="widOfgrid">
                <span>LIBRARY</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-5 col-lg-6">
          <div
            class="rightContent ps-lg-5 mb-lg-0 mt-4"
            data-aos="fade-left"
            data-aos-duration="500"
          >
            <div class="mainTitle">
              <h3><span>LIBRARY</span></h3>
              <p>
                The Library is located in a spacious hall with 3609 Sq.ft Plinth
                area. The library has collection of all titles prescribed by
                AICTE and Osmania University. National and International
                Journals, Magazines and News papers are subscribed. It is also
                planned to digitalize the entire library. Book bank facility is
                available to all the students.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-10 m-auto">
    <div
      class="table my-5 table-responsive"
      data-aos="fade-up"
      data-aos-duration="500"
    >
      <table class="table table-bordered">
        <thead class="table-light">
          <tr class="table-active">
            <th>Sl No:</th>
            <th>LIBRARY PARTICULARS</th>
            <th>DESCRIPTION</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Total area of the library:</td>
            <td>3609 Sqft.</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Seating capacity of the library :</td>
            <td>150</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Reprographic facility (yes / No) :</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Working hours of library :</td>
            <td>7 am to 7 pm</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Library Networking facility (yes / No):</td>
            <td>Yes</td>
          </tr>
          <tr>
            <td>6</td>
            <td>
              Usage data of the library (in terms of books issued to the faculty
              & students etc.)
            </td>
            <td>Enclosed</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Librarian & Qualifications</td>
            <td>Mr. Srinivas. M, M.L.I.Sc.,</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-responsive" data-aos="fade-up" data-aos-duration="500">
      <h1 class="pp-c mt-2">LIBRARY</h1>
      <table class="table table-bordered">
        <thead class="table-light">
          <tr class="table-active">
            <th>Sl No:</th>
            <th>Courses</th>
            <th>Number of titles of the books</th>
            <th>Number of volumes</th>
            <th>National Journals</th>
            <th>International Journals</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>MBA</td>
            <td>2317</td>
            <td>7412</td>
            <td>22</td>
            <td>6</td>
          </tr>
          <tr>
            <td>2</td>
            <td>B.Pharmacy</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
          </tr>
          <tr>
            <td>3</td>
            <td>M.Pharmacy</td>
            <td>931</td>
            <td>2941</td>
            <td>10</td>
            <td>6</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
