<section class="aboutUs">
    <div class="bannerImg">
      <img
        src="assets/Images/bpharmacyBanner.jpg"
        alt=""
        class="mba_banner_image w-100"
      />
    </div>
    <div class="aboutSection position-relative py-5 mb-4">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-4">
                    <p>Chemistry Lab</p>
                    <img src="assets/Images/Pharamcyimg1.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-md-4">
                    <p>Chemistry Lab</p>
                    <img src="assets/Images/Pharamcyimg2.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-md-4">
                    <p>Chemistry Lab</p>
                    <img src="assets/Images/Pharamcyimg3.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
      </div>
  </section>