/* You can add global styles to this file, and also import other style files */
:root {
  --orang-c: #ffa20d;
  --pp-color: #6a0dad;
}
.pp-c {
  color: #6a0dad;
}
.modal-backdrop {
  opacity: 0.9 !important;
}
// @media (min-width: 1400px) {
//   .container,
//   .container-lg,
//   .container-md,
//   .container-sm,
//   .container-xl,
//   .container-xxl {
//     max-width: 1520px !important;
//   }
// }
.row {
  overflow: hidden;
}
.base-h1 {
  color: var(--orang-c);
  font-size: 40px;
  font-weight: 600;
}
.base-h2 {
  color: var(--orang-c);
  font-size: 35px;
  font-weight: 600;
}
.base-h3 {
  color: var(--orang-c);
  font-size: 25px;
  font-weight: 600;
}
.base-h6 {
  color: var(--orang-c);
  font-size: 35px;
  font-weight: 600;
}
// .base-p{
//     color:gray;
//     font-size: 20px;
// }
.base-p {
  color: gray;
  font-size: 15px;
}
.bannerImg {
  height: 600px;
  img {
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  @media (max-width: 991px) {
    height: 100%;
  }
}
.mainTitle {
  h2 {
    color: #6a0dad;
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
  }
}
// .gridItemImg {
//   width: calc(100% - 80px);
//   height: 350px;
//   img {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }
// }
// .widOfgrid {
//   width: 80px;
// }

.gridItemImg {
  width: calc(100% - 80px);
  height: 350px;
  img {
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}
.widOfgrid {
  width: 80px;
  height: 350px;
  background: #6a0dad;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    // position: absolute;
    // top: 43%;
    // left: 0;
    // transform: rotate(90deg) translate(-50%, -50%);
    // right: 50%;

    text-transform: uppercase;
    font-size: clamp(18px, 1.4583vw, 28px);
    color: #ffffff;
    z-index: 9;
    text-align: center;
    // transform: rotate(90deg);
    writing-mode: vertical-rl;
    @media (max-width: 768px) {
      // top: 50%;
      // left: 0;
      // transform: unset;
      // writing-mode: vertical-lr;
    }
  }
  // @media (max-width: 768px) {
  //   display: none;
  //   span {
  //     display: none;
  //   }
  // }
}

.contact_section {
  // background-color: hsl(216.49deg 81.04% 41.37%);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.08),
    0 6px 30px 5px rgba(0, 0, 0, 0.06), 0 8px 10px -7px rgba(0, 0, 0, 0.08);
  border-radius: 60px;
  background: #fff;
  padding: 70px;
  padding-left: 100px !important;
  text-align: justify;
  position: relative;
  @media (max-width: 991px) {
    padding: 40px !important;
  }
}
.contact_section p {
  margin: 10px;
  color: #000;
  font-size: 16px;
  line-height: 25px;
}