<app-herobanner></app-herobanner>
<app-welcome></app-welcome>
<app-form></app-form>
<!-- <app-footer></app-footer> -->
<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="openPopup"
  tabindex="-1"
  aria-labelledby="openPopup"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div>
        <a href="admission/application"
          ><img
            src="assets/Images/admission-open.jpg"
            class="img-fluid"
        /></a>
      </div>
    </div>
  </div>
</div>
