<app-herobanner></app-herobanner>
<!-- <div *ngFor="let images of dataSource; let i = index"> -->
    <!-- <img src="http://127.0.0.1:8000/media/photos/WhatsApp_Image_2024-07-27_at_16.00.54_13aa5134.jpg" alt=""> -->
    <!-- <img [src]="images['image']" alt="Image"> -->
     <!-- {{images['image'] | json}} -->
<!-- </div> -->
<!-- <div *ngFor="let banner of Banners; let j = index">
    <img [src]="banner['image']" alt="Banner">
</div> -->
<!-- <div *ngFor="let video of Videos; let k = index">
    <video [src]="video['video']" controls width="400" height="300">
        Your browser does not support the video tag.
    </video>
</div> -->
<app-welcome></app-welcome>
<app-form></app-form>