.infrastruct {
  h4 {
    font-size: 19px;
    line-height: 30px;
  }
  .ImgGrid {
    padding: 10px;
    border: 1px solid #e0dddd;
    border-radius: 5px;
  }
  .gridItem {
    h5 {
      color: var(--orang-c) !important    ;
    }
    // img {
    //   object-fit: cover;
    //   height: 100%;
    //   min-height: 313px;
    //   width: 100%;
    // }
  }
  .infrastructSec {
    &::before {
      content: "";
      background-color: #d396ff91;
      width: 40%;
      height: 400px;
      position: absolute;
      left: 0;
      z-index: -1;
      top: 0;
      @media (max-width: 768px) {
        display: none;
      }
    }
    &::after {
      content: "";
      background-color: rgb(228 162 255 / 21%);
      width: 40%;
      height: 400px;
      position: absolute;
      right: 0;
      z-index: -1;
      bottom: -4rem;
      @media (max-width: 768px) {
        display: none;
      }
    }
    .leftContent {
      .gridItem {
        img {
        }
      }
    }

    h3 {
      font-size: 25px;
      span {
        color: #6a0dad;
        font-weight: 600;
      }
    }
    h4 {
      font-size: 20px;
    }
  }
}
