<section class="infrastruct">
  <div class="bannerImg">
    <img
      src="../../assets/Images/infrastructer-banner.png"
      alt=""
      class="mba_banner_image w-100"
    />
  </div>
  <div class="infrastructSec position-relative py-5">
    <div class="container-fluid">
      <!---Fist Row-->
      <div
        class="row align-items-center justify-content-center mb-lg-0 py-5 mb-4"
      >
        <div class="col-lg-5 col-md-6">
          <div class="leftContent">
            <div class="d-flex">
              <div class="gridImg">
                <img
                  src="../../assets/Images/kgrImg.jpeg"
                  alt="vision"
                  class="w-100"
                />
              </div>
              <div class="widOfgrid">
                <span>KGR</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-6">
          <div class="rightContent px-lg-5 mb-lg-0 mt-4">
            <div class="mainTitle">
              <h3>Infrastructure <span>FACILITIES:</span></h3>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  Built in 34,000 Sq.ft. with spacious lecture halls with
                  projectors, Conference Halls, Computer Labs, Staff rooms, and
                  the spacious Library have 2500 Sq.ft with 200 seating
                  capacity.
                </li>
                <li class="list-group-item">
                  The institute is equipped with the latest Equipment with state
                  of art facilities required for a well-run professional
                  pharmacy college as per guidelines of apex bodies.
                </li>
                <li class="list-group-item">
                  The Managemnt has provided separate building for pharmacy with
                  well-equipped laboratories, machine room, Library and museum
                  as per the norms of Pharmacy Council of India (PCI), All India
                  Council for Technical Education (AICTE) and Osmania University
                  (OU).
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!---Second Row-->
      <div class="row align-items-center justify-content-end mb-lg-0 py-5 mb-4">
        <div class="col-xl-5 col-lg-6 order-lg-1 order-2">
          <div class="rightContent px-lg-5 mb-lg-0 mt-4">
            <div class="mainTitle">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  Two computer centers with 310 Computers capacity of 19'' TFT
                  with 1:2 computer-student ratio, fully Wi-Fi Internet Enabled.
                </li>
                <li class="list-group-item">
                  Two Seminar Halls with Digital Audio & Video enabled.
                </li>
                <li class="list-group-item">
                  Sprawling campus with Wi-Fi Internet network.
                </li>
                <li class="list-group-item">
                  State of the art IT enabled class rooms equipped with LCD
                  projectors, audio-visual systems etc.
                </li>
                <li class="list-group-item">
                  Separate spacious waiting halls for Boys and Girls with
                  separate modern Toilets.
                </li>
                <li class="list-group-item">
                  Well equipped library with e-learning resources.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xl-5 col-lg-6 order-lg-2 order-1">
          <div class="leftContent">
            <div class="d-flex">
              <div class="gridImg">
                <img
                  src="https://lh3.googleusercontent.com/p/AF1QipPr5lSMnagyI7r0sJozCHJEZfPPQRbpkvv7I_tj=s1360-w1360-h1020"
                  alt="vision"
                  class="w-100"
                />
              </div>
              <div class="widOfgrid">
                <span>KGR</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!---Third Row-->
      <div
        class="row align-items-center justify-content-center mb-lg-0 py-5 mb-4"
      >
        <div class="col-lg-5 col-md-6">
          <div class="leftContent">
            <div class="d-flex">
              <div class="gridImg">
                <img
                  src="../../assets/Images/library.jpg"
                  alt="vision"
                  class="w-100"
                />
              </div>
              <div class="widOfgrid">
                <span>LIBRARY</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-6">
          <div class="rightContent px-lg-5 mb-lg-0 mt-4">
            <div class="mainTitle">
              <h3><span>LIBRARY</span></h3>
              <p>
                The Library is located in a spacious hall with 2500 Sq.ft Plinth
                area. The library has collection of all titles prescribed by
                AICTE and Osmania University. National and International
                Journals, Magazines and News papers are subscribed. It is also
                planned to digitalize the entire library. Book bank facility is
                available to all the students.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!---fourth Row-->
      <div class="row align-items-center justify-content-end mb-lg-0 py-5 mb-4">
        <div class="col-xl-5 col-lg-6 order-lg-1 order-2">
          <div class="rightContent px-lg-5 mb-lg-0 mt-4">
            <div class="mainTitle">
              <h3><span>COMPUTER</span> CENTER</h3>
              <p>
                Two Computer Centers are located in spacious halls with 3500
                Sq.ft Plinth Area. At present 240 computers, 19inch TFT with 1:2
                computer-student ratio, fully Wi-Fi Internet Enabled. Monitors
                with all Softwares prescribed by AICTE and Osmania University
                along with Servers, Colour Printers with scanners and latest
                copier machine available for the convenience of students and
                special revolving chairs for comfortable seating.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-5 col-lg-6 order-lg-2 order-1">
          <div class="leftContent">
            <div class="d-flex">
              <div class="gridImg">
                <img
                  src="../../assets/Images/computerCenter.jpg"
                  alt="vision"
                  class="w-100"
                />
              </div>
              <div class="widOfgrid">
                <span>COMPUTER</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!---fifth Row-->
      <div
        class="row align-items-center justify-content-center mb-lg-0 py-5 mb-4"
      >
        <div class="col-lg-5 col-md-6">
          <div class="leftContent">
            <div class="d-flex">
              <div class="gridImg">
                <img
                  src="../../assets/Images/wifiEnable.jpg"
                  alt="vision"
                  class="w-100"
                />
              </div>
              <div class="widOfgrid">
                <span>wifi</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-6">
          <div class="rightContent px-lg-5 mb-lg-0 mt-4">
            <div class="mainTitle">
              <h3><span>WIFI-</span>ENABLED</h3>
              <p>
                Acknowledging the importance of information in increasing
                knowledge base, KGR Institute of Technology and Management is
                fully Wi-Fi enabled which empowers students to have access to
                information any tine, anywhere and at their finger tips.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!---sixth Row-->
      <div class="row align-items-center justify-content-end mb-lg-0 py-5 mb-4">
        <div class="col-xl-5 col-lg-6 order-lg-1 order-2">
          <div class="rightContent px-lg-5 mb-lg-0 mt-4">
            <div class="mainTitle">
              <h3><span>LOCATION</span></h3>
              <p>
                Located in vicinity of Hyderabad city situated at Rampally (V),
                Keesara (M), Medchal-Malkajgiri Dist. which is 7 kms. from ECIL
                'X' Roads and 5kms. from Warangal Highway at Uppal - Ghatkesar
                Road.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-5 col-lg-6 order-lg-2 order-1">
          <div class="leftContent">
            <div class="d-flex">
              <div class="gridImg">
                <img
                  src="../../assets/Images/location.jpg"
                  alt="vision"
                  class="w-100"
                />
              </div>
              <div class="widOfgrid">
                <span>LOCATION</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!---Seventh Row-->
      <div
        class="row align-items-center justify-content-center mb-lg-0 py-5 mb-4"
      >
        <div class="col-lg-5 col-md-6">
          <div class="leftContent">
            <div class="d-flex">
              <div class="gridImg">
                <img
                  src="../../assets/Images/transport.jpg"
                  alt="vision"
                  class="w-100"
                />
              </div>
              <div class="widOfgrid">
                <span>TRANSPORT</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-6">
          <div class="rightContent px-lg-5 mb-lg-0 mt-4">
            <div class="mainTitle">
              <h3><span>TRANSPORT</span> FACILITY</h3>
              <p>
                The college provides own transport facility which connects the
                students in time, in addition to RTC Buses (route No. 281) at
                regular intervals of every 5 minutes in this Route. Note: RTC
                Bus route No. 281 from Secunderabad to ECIL to Ghatkesar at
                regular intervals.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!---Eight Row-->
      <div class="row align-items-center justify-content-end mb-lg-0 py-5 mb-4">
        <div class="col-xl-5 col-lg-6 order-lg-1 order-2">
          <div class="rightContent px-lg-5 mb-lg-0 mt-4">
            <div class="mainTitle">
              <h3><span>CAMPUS </span>PLACEMENTS</h3>
              <p>
                College aims to build the foundation for lifelong achievement,
                not simply for the first job. By teaching students the largest
                development of their discipline, by ensuring they are
                technologically up-to-date and by giving them real world
                experiences through internships and live projects, prepares its
                students for rapidly changing world.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-5 col-lg-6 order-lg-2 order-1">
          <div class="leftContent">
            <div class="d-flex">
              <div class="gridImg">
                <img
                  src="../../assets/Images/campusPlacement.png"
                  alt="vision"
                  class="w-100"
                />
              </div>
              <div class="widOfgrid">
                <span>Placements</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
