<section class="computerLab">
  <div class="bannerImg">
    <img
      src="assets/Images/computerBanner.png"
      alt=""
      class="mba_banner_image w-100"
    />
  </div>
  <div class="computerSec position-relative py-5">
    <div class="container">
      <!---first Row-->
      <div
        class="row align-items-center justify-content-center mb-lg-0 py-5 mb-4"
      >
        <div class="col-xl-5 col-lg-6">
          <div
            class="leftContent"
            data-aos="fade-right"
            data-aos-duration="500"
          >
            <div class="d-flex">
              <div class="gridItemImg">
                <img
                  src="assets/Images/computerCenter.jpg"
                  alt="vision"
                  class="w-100"
                />
              </div>
              <div class="widOfgrid">
                <span>COMPUTER</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-5 col-lg-6">
          <div
            class="rightContent px-lg-5 mb-lg-0 mt-4"
            data-aos="fade-left"
            data-aos-duration="500"
          >
            <div class="mainTitle">
              <h3><span>COMPUTER</span> CENTER</h3>
              <p>
                Two Computer Centers are located in spacious halls with 3500
                Sq.ft Plinth Area. At present 240 computers, 19inch TFT with 1:2
                computer-student ratio, fully Wi-Fi Internet Enabled. Monitors
                with all Softwares prescribed by AICTE and Osmania University
                along with Servers, Colour Printers with scanners and latest
                copier machine available for the convenience of students and
                special revolving chairs for comfortable seating.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!---second Row-->
      <div
        class="row align-items-center justify-content-center mb-lg-0 my-4 py-5"
      >
        <div class="col-xl-5 col-lg-6 order-lg-1 order-2">
          <div
            class="rightContent pe-lg-5 mb-lg-0 mt-4"
            data-aos="fade-right"
            data-aos-duration="500"
          >
            <div class="mainTitle">
              <h3><span>WIFI-</span>ENABLED</h3>
              <p>
                Acknowledging the importance of information in increasing
                knowledge base, KGR Institute of Technology and Management is
                fully Wi-Fi enabled which empowers students to have access to
                information any tine, anywhere and at their finger tips.
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-5 col-lg-6 order-lg-2 order-1">
          <div class="leftContent" data-aos="fade-left" data-aos-duration="500">
            <div class="d-flex">
              <div class="gridItemImg">
                <img
                  src="assets/Images/wifiEnable.jpg"
                  alt="vision"
                  class="w-100"
                />
              </div>
              <div class="widOfgrid">
                <span>wifi</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
